<a href="https://colab.research.google.com/github/vmagal1/basefinalebac/blob/main/Mod07_Tarefa_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Avaliando as variaveis
df = pd.read_csv('demo01.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [3]:
#contagem de numeros missing


df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6770 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   6770 non-null   object
 1   posse_de_veiculo       6770 non-null   object
 2   posse_de_imovel        6770 non-null   object
 3   qtd_filhos             6770 non-null   int64
 4   tipo_renda             6770 non-null   object
 5   educacao               6770 non-null   object
 6   estado_civil           6770 non-null   object
 7   tipo_residencia        6770 non-null   object
 8   idade                  6770 non-null   float64
 9   tempo_emprego          6770 non-null   float64
 10  possui_celular         6770 non-null   int64
 11  possui_fone_comercial  6770 non-null   int64
 12  possui_fone            6770 non-null   int64
 13  possui_email           6770 non-null   int64
 14  qt_pessoas_residencia  6770 non-null   float64
 15  mau                    6770 non-null   bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 852.9+ KB

In [4]:
#distribuicao da variavel resposta (mau)

df['mau'].value_counts()

mau
False    6472
True      298
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [5]:


df_list = pd.DataFrame(df)


lista_contagens = []


for coluna in df.columns:

    if df[coluna].dtype == 'object':
        num_categorias = df[coluna].nunique()
    else:
        num_categorias = None
    lista_contagens.append((coluna, num_categorias))


contagens_categorias = lista_contagens


df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6770 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   6770 non-null   object
 1   posse_de_veiculo       6770 non-null   object
 2   posse_de_imovel        6770 non-null   object
 3   qtd_filhos             6770 non-null   int64
 4   tipo_renda             6770 non-null   object
 5   educacao               6770 non-null   object
 6   estado_civil           6770 non-null   object
 7   tipo_residencia        6770 non-null   object
 8   idade                  6770 non-null   float64
 9   tempo_emprego          6770 non-null   float64
 10  possui_celular         6770 non-null   int64
 11  possui_fone_comercial  6770 non-null   int64
 12  possui_fone            6770 non-null   int64
 13  possui_email           6770 non-null   int64
 14  qt_pessoas_residencia  6770 non-null   float64
 15  mau                    6770 non-null   bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 852.9+ KB

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [6]:
colunas_categoricas = df.select_dtypes(include=['object']).columns

df_dummy = pd.get_dummies(df, columns=colunas_categoricas, drop_first=True)

print(df_dummy)
print(df_dummy.dtypes)
df_dummy.info()

       qtd_filhos      idade  tempo_emprego  possui_celular  \
0               0  58.832877       3.106849               1
1               0  52.356164       8.358904               1
3               0  46.224658       2.106849               1
4               0  29.230137       3.021918               1
6               0  27.482192       4.024658               1
...           ...        ...            ...             ...
16644           1  34.857534       3.101370               1
16645           0  54.109589       9.884932               1
16646           0  43.389041       7.380822               1
16647           0  30.005479       9.800000               1
16649           0  33.936986       3.630137               1

       possui_fone_comercial  possui_fone  possui_email  \
0                          0            0             0
1                          0            1             1
3                          1            1             1
4                          0            0             0
6                          0            1             0
...                      ...          ...           ...
16644                      1            1             0
16645                      0            0             0
16646                      1            1             0
16647                      1            0             0
16649                      0            1             1

       qt_pessoas_residencia    mau  sexo_M  ...  \
0                        2.0  False    True  ...
1                        1.0  False   False  ...
3                        2.0  False    True  ...
4                        2.0  False   False  ...
6                        2.0  False   False  ...
...                      ...    ...     ...  ...
16644                    1.0   True   False  ...
16645                    2.0   True   False  ...
16646                    2.0   True   False  ...
16647                    2.0   True    True  ...
16649                    2.0   True   False  ...

       educacao_Secondary / secondary special  estado_civil_Married  \
0                                        True                  True
1                                        True                 False
3                                       False                  True
4                                       False                  True
6                                        True                  True
...                                       ...                   ...
16644                                    True                 False
16645                                    True                 False
16646                                    True                  True
16647                                    True                  True
16649                                   False                  True

       estado_civil_Separated  estado_civil_Single / not married  \
0                       False                              False
1                       False                               True
3                       False                              False
4                       False                              False
6                       False                              False
...                       ...                                ...
16644                   False                               True
16645                   False                              False
16646                   False                              False
16647                   False                              False
16649                   False                              False

       estado_civil_Widow  tipo_residencia_House / apartment  \
0                   False                               True
1                   False                               True
3                   False                               True
4                   False                               True
6                   False                               True
...                   ...                                ...
16644               False                               True
16645               False                               True
16646               False                               True
16647               False                               True
16649               False                               True

       tipo_residencia_Municipal apartment  tipo_residencia_Office apartment  \
0                                    False                             False
1                                    False                             False
3                                    False                             False
4                                    False                             False
6                                    False                             False
...                                    ...                               ...
16644                                False                             False
16645                                False                             False
16646                                False                             False
16647                                False                             False
16649                                False                             False

       tipo_residencia_Rented apartment  tipo_residencia_With parents
0                                 False                         False
1                                 False                         False
3                                 False                         False
4                                 False                         False
6                                 False                         False
...                                 ...                           ...
16644                             False                         False
16645                             False                         False
16646                             False                         False
16647                             False                         False
16649                             False                         False

[6770 rows x 29 columns]
qtd_filhos                                  int64
idade                                     float64
tempo_emprego                             float64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                     float64
mau                                          bool
sexo_M                                       bool
posse_de_veiculo_Y                           bool
posse_de_imovel_Y                            bool
tipo_renda_Pensioner                         bool
tipo_renda_State servant                     bool
tipo_renda_Student                           bool
tipo_renda_Working                           bool
educacao_Higher education                    bool
educacao_Incomplete higher                   bool
educacao_Lower secondary                     bool
educacao_Secondary / secondary special       bool
estado_civil_Married                         bool
estado_civil_Separated                       bool
estado_civil_Single / not married            bool
estado_civil_Widow                           bool
tipo_residencia_House / apartment            bool
tipo_residencia_Municipal apartment          bool
tipo_residencia_Office apartment             bool
tipo_residencia_Rented apartment             bool
tipo_residencia_With parents                 bool
dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 6770 entries, 0 to 16649
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              6770 non-null   int64
 1   idade                                   6770 non-null   float64
 2   tempo_emprego                           6770 non-null   float64
 3   possui_celular                          6770 non-null   int64
 4   possui_fone_comercial                   6770 non-null   int64
 5   possui_fone                             6770 non-null   int64
 6   possui_email                            6770 non-null   int64
 7   qt_pessoas_residencia                   6770 non-null   float64
 8   mau                                     6770 non-null   bool
 9   sexo_M                                  6770 non-null   bool
 10  posse_de_veiculo_Y                      6770 non-null   bool
 11  posse_de_imovel_Y                       6770 non-null   bool
 12  tipo_renda_Pensioner                    6770 non-null   bool
 13  tipo_renda_State servant                6770 non-null   bool
 14  tipo_renda_Student                      6770 non-null   bool
 15  tipo_renda_Working                      6770 non-null   bool
 16  educacao_Higher education               6770 non-null   bool
 17  educacao_Incomplete higher              6770 non-null   bool
 18  educacao_Lower secondary                6770 non-null   bool
 19  educacao_Secondary / secondary special  6770 non-null   bool
 20  estado_civil_Married                    6770 non-null   bool
 21  estado_civil_Separated                  6770 non-null   bool
 22  estado_civil_Single / not married       6770 non-null   bool
 23  estado_civil_Widow                      6770 non-null   bool
 24  tipo_residencia_House / apartment       6770 non-null   bool
 25  tipo_residencia_Municipal apartment     6770 non-null   bool
 26  tipo_residencia_Office apartment        6770 non-null   bool
 27  tipo_residencia_Rented apartment        6770 non-null   bool
 28  tipo_residencia_With parents            6770 non-null   bool
dtypes: bool(21), float64(3), int64(5)
memory usage: 614.9 KB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [20]:
pd.get_dummies(df, columns=['possui_email', 'posse_de_veiculo'], drop_first=True)

,sexo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,qt_pessoas_residencia,mau,possui_email_1,posse_de_veiculo_Y
0,M,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,2.0,False,False,True
1,F,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1.0,False,True,False
3,M,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,2.0,False,True,True
4,F,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,2.0,False,False,True
6,F,Y,0,Working,Secondary / secondary special,Married,House / apartment,27.482192,4.024658,1,0,1,2.0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16644,F,Y,1,Working,Secondary / secondary special,Single / not married,House / apartment,34.857534,3.101370,1,1,1,1.0,True,False,False
16645,F,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,2.0,True,False,False
16646,F,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,2.0,True,False,False
16647,M,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,2.0,True,False,True
16649,F,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,2.0,True,True,False

In [31]:
res1 = pd.crosstab(df_dummy['possui_email'], df_dummy['mau'])
print(f'{res1}\n')

res2 = pd.crosstab(df_dummy['posse_de_veiculo_Y'], df_dummy['mau'])
print(f'{res2}')

# Podemos concluir entao, que a variavel possui email, proporcionalmente tem mais peso, visto que do total de pessoas,e proporcionalmente maior o numero de maus pagadores por nao terem email, talvez uma falha de comunicacao ocorra

mau           False  True
possui_email
0              5927    278
1               545     20

mau                 False  True
posse_de_veiculo_Y
False                4021    190
True                 2451    108

mau                 False  True
posse_de_veiculo_Y
False                4021    190
True                 2451    108

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [ ]:
df_dummy.to_csv('base_final.csv', index=False)