<a href="https://colab.research.google.com/github/vmagal1/basefinalebac/blob/main/Mod07_Tarefa_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Avaliando as variaveis
df = pd.read_csv('demo01.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [6]:
#contagem de numeros missing


df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6770 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   6770 non-null   object
 1   posse_de_veiculo       6770 non-null   object
 2   posse_de_imovel        6770 non-null   object
 3   qtd_filhos             6770 non-null   int64
 4   tipo_renda             6770 non-null   object
 5   educacao               6770 non-null   object
 6   estado_civil           6770 non-null   object
 7   tipo_residencia        6770 non-null   object
 8   idade                  6770 non-null   float64
 9   tempo_emprego          6770 non-null   float64
 10  possui_celular         6770 non-null   int64
 11  possui_fone_comercial  6770 non-null   int64
 12  possui_fone            6770 non-null   int64
 13  possui_email           6770 non-null   int64
 14  qt_pessoas_residencia  6770 non-null   float64
 15  mau                    6770 non-null   bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 852.9+ KB

In [5]:
#distribuicao da variavel resposta (mau)

df['mau'].value_counts()

mau
False    6472
True      298
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [35]:


df_list = pd.DataFrame(df)


lista_contagens = []


for coluna in df.columns:

    if df[coluna].dtype == 'object':
        num_categorias = df[coluna].nunique()
    else:
        num_categorias = None
    lista_contagens.append((coluna, num_categorias))


contagens_categorias = lista_contagens


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   4 non-null      object
 1   posse_de_veiculo       4 non-null      object
 2   posse_de_imovel        4 non-null      object
 3   qtd_filhos             4 non-null      int64
 4   tipo_renda             4 non-null      object
 5   educacao               4 non-null      object
 6   estado_civil           4 non-null      object
 7   tipo_residencia        4 non-null      object
 8   idade                  4 non-null      float64
 9   tempo_emprego          4 non-null      float64
 10  possui_celular         4 non-null      int64
 11  possui_fone_comercial  4 non-null      int64
 12  possui_fone            4 non-null      int64
 13  possui_email           4 non-null      int64
 14  qt_pessoas_residencia  4 non-null      float64
 15  mau                    4 non-null      bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 612.0+ bytes

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [51]:
colunas_categoricas = df.select_dtypes(include=['object']).columns

df_dummy = pd.get_dummies(df, columns=colunas_categoricas, drop_first=True)

print(df_dummy)
print(df_dummy.dtypes)
df_dummy.info()

   qtd_filhos  idade  tempo_emprego  possui_celular  possui_fone_comercial  \
0           2   30.0            5.0               1                      0
1           0   45.0           20.0               1                      1
2           1   25.0            2.0               1                      0
3           3   50.0           25.0               1                      1

   possui_fone  possui_email  qt_pessoas_residencia    mau  sexo_M  \
0            1             1                    4.0   True    True
1            1             1                    2.0  False   False
2            0             1                    3.0  False   False
3            1             1                    2.0   True    True

   posse_de_veiculo_Y  posse_de_imovel_Y  tipo_renda_Empresário  \
0                True               True                  False
1               False              False                   True
2                True              False                   True
3               False               True                  False

   educacao_Médio  educacao_Superior  estado_civil_Divorciado  \
0           False               True                    False
1            True              False                    False
2           False               True                    False
3           False              False                     True

   estado_civil_Solteiro  tipo_residencia_Casa
0                   True                  True
1                  False                 False
2                   True                  True
3                  False                 False
qtd_filhos                   int64
idade                      float64
tempo_emprego              float64
possui_celular               int64
possui_fone_comercial        int64
possui_fone                  int64
possui_email                 int64
qt_pessoas_residencia      float64
mau                           bool
sexo_M                        bool
posse_de_veiculo_Y            bool
posse_de_imovel_Y             bool
tipo_renda_Empresário         bool
educacao_Médio                bool
educacao_Superior             bool
estado_civil_Divorciado       bool
estado_civil_Solteiro         bool
tipo_residencia_Casa          bool
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   qtd_filhos               4 non-null      int64
 1   idade                    4 non-null      float64
 2   tempo_emprego            4 non-null      float64
 3   possui_celular           4 non-null      int64
 4   possui_fone_comercial    4 non-null      int64
 5   possui_fone              4 non-null      int64
 6   possui_email             4 non-null      int64
 7   qt_pessoas_residencia    4 non-null      float64
 8   mau                      4 non-null      bool
 9   sexo_M                   4 non-null      bool
 10  posse_de_veiculo_Y       4 non-null      bool
 11  posse_de_imovel_Y        4 non-null      bool
 12  tipo_renda_Empresário    4 non-null      bool
 13  educacao_Médio           4 non-null      bool
 14  educacao_Superior        4 non-null      bool
 15  estado_civil_Divorciado  4 non-null      bool
 16  estado_civil_Solteiro    4 non-null      bool
 17  tipo_residencia_Casa     4 non-null      bool
dtypes: bool(10), float64(3), int64(5)
memory usage: 424.0 bytes

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [60]:
tabela1= pd.crosstab(df['possui_email'], df_dummy['mau'], normalize = 'index')
tabela2 = pd.crosstab(df['posse_de_veiculo'], df_dummy['mau'], normalize = 'index')


print(tabela1)

print(tabela2)

# Podemos analisar, atraves da tabela cruzada que as duas variaveis sao equivalentemente poderosas para prever a probabilidade de mau = 1

mau           False  True
possui_email
1               0.5    0.5
mau               False  True
posse_de_veiculo
N                   0.5    0.5
Y                   0.5    0.5

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [61]:
df_dummy.to_csv('base_final.csv', index=False)